body {
    height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', cursive;
    background-color: #2d2d2d;
    color: #dfdfd8;
  }
  
  .game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  
  .title-logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: auto;
    padding: 20px;
    margin: 0;
    pointer-events: none;
  }

  h2 {
    position: absolute;
    top: 30px;
    font-size: clamp(35px, 4vw, 75px);
    font-family: 'Patrick Hand', cursive;
    color: #dfdfd8;
  }

  button img {
    width: 10vw;
    height: auto;
    opacity: .5;
    transition: opacity .5s ease;
  }

  .choices {
    transform: translateY(-5vh);
  }
  
  .choices button {
    width: 15vw;
    height: 15vw;
    border: none;
    border-radius: 50%;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #bcbcbc;
  }
  
  .choises-frame {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-direction: row;
    margin: auto;
    width: 100%;
    transition: background-color .3s ease;
  }
  
  .choises-frame button {
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
  }
  
  .choises-frame button:hover {
    background-color: #ecc85e;
    transform: scale(1.1);
    box-shadow: inset 10px 10px 5px #cfb25a;
  }

  .choises-frame button:hover img {
    opacity: 1;
  }

  .scoreboard {
    position: absolute;
    bottom: 13rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 3rem;
    font-family: 'Patrick Hand', cursive;
    color: #dfdfd8;
  }
  
  .footer {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 2rem;
  }

  .footer-image {
    width: 15vw; 
    height: auto; 
    min-width: 150px;
    max-width: 300px;
    transform: translateY(65px);
    transform-origin: bottom left;
  }
  
  @media (max-width: 768px) {
    .game-screen {
        flex-direction: row;
    }

    h2 {
        top: 25%;
    }

    .choises-frame button,
    .result-frame button {
      width: 80px;
      height: 80px;
    }
  
    .choises-frame button img,
    .result-frame button img {
      width: 60px;
      height: 60px;
    }

    .footer-image {
        transform: translateY(50px);
      }
  
    .scoreboard {
      padding: 0 1rem;
      font-size: 1rem;
    }
  }
  